@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&family=Inter:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  max-width: 100%;
  background-color: rgba(243, 245, 252, 1);
}

header {
  width: 120px;
  height: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

main {
  max-width: 100%;
  max-height: 481px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.input-section {
  margin-left: 40px;
}

textarea {
  width: 680px;
  height: 350px;
  font-size: 32px;
  font-weight: 400;
  color: rgba(10, 56, 113, 1);
  border: none;
  resize: none;
  background-color: inherit;
}

textarea:focus {
  outline: 0;
}

.instructions {
  display: flex;
  align-items: center;
  height: 18px;
  margin-top: 8px;
  gap: 6px;
}

.instructions > p {
  font-size: 12px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 660px;
  height: 67px;
  padding: 0px;
}

.button-container > button {
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  border-radius: 24px;
}

.encrypt {
  background: rgb(10, 56, 113);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.decrypt {
  background: rgb(216, 223, 232);
  border: 1px solid rgb(10, 56, 113);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgb(10, 56, 113);
}

.output-container {
  position: relative;
  height: 540px;
  top: -80px;
  padding: 10px;
  width: 350px;
  max-height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.output-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  height: 525px;
}

.output-img-container {
  width: 332px;
  height: 304px;
  margin-bottom: 32px;
  background-image: url('./img/not-found-img.svg');
}

.output-instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 286px;
  text-align: center;
}

.output-instructions > p:first-child {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: rgb(52, 58, 64);
  align-self: stretch;
}

.output-instructions > p:last-child {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  align-self: stretch;
  color: rgb(73, 80, 87);
}

.output-result {
  display: none;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 525px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  background-color: rgb(255, 255, 255);
  color: rgb(73, 80, 87);
  padding: 6px;
  border-radius: 32px;
}

.output-text-container {
  margin-top: 10px;
  margin-bottom: 4px;
  max-height: 600px;
  height: 600px;
  max-width: 100%;
  text-align: center;
}

.output-text-container > p {
  width: 100%;
}

.copy-button-container {
  width: 100%;
}

.copy {
  width: 100%;
  height: 67px;
  border: 1px solid rgb(10, 56, 113);
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  color: rgba(10, 56, 113, 1);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.tooltip-container {
  position: relative;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  display: none;
  width: 130px;
  height: 20px;
  border-radius: 6px;
  text-align: center;
  font-size: 10px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 56, 113);
  opacity: 0;
  transition: opacity 1s;
  animation-name: showtooltip;
  animation-duration: 3s;
}
  
@keyframes showtooltip {
  0% {
    display: block;
  }
  
  25% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    display: none;
  }
}
  
.tooltip > span {
  background-color: rgba(10, 56, 113, 0);
}

footer {
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  background: rgb(10, 56, 113);
  color: rgb(255, 255, 255);
  margin-bottom: 0%;
  margin-top: 6px;
}
  
footer > p {
  background: rgb(10, 56, 113);
  padding: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 90%;
}

@media screen and (max-width: 768px) and (min-width: 376px) {
  body {
    max-width: 768px;
  }

  main {
    max-height: 1174px;
    max-width: 768px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6px;
    padding: 10px;
  }

  .input-section {
    margin: 0px;
    max-width: 768px;
    width: 100%;
    margin-bottom: 5px;
    padding: 25px;
  }

  .input-section > * {
    width: 100%;
  }

  .output-container {
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: static;
    left: 0px;
    padding: 20px;
    width: 100%;
    min-height: 133px;
    max-height: 343px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .output-default {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }

  .output-img-container {
    display: none;
  }

  .output-instructions {
    height: 100%;
    width: 100%;
    align-items: stretch;
    justify-content: center;
  }

  .output-result {
    height: 100%;
    max-height: 100%;
  }

  .output-text-container {
    height: 180px;
    max-height: 180px;
  }

  .tooltip-container {
    align-self: center;
    top: 4px;
  }

}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    max-height: 1715px;
    padding: 5px;
  }

  header {
    margin-left: 5px;
  }

  main {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
  }

  .input-section {
    width: 100%;
    height: 550px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
  }

  textarea {
    width: 100%;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .output-container {
    z-index: 0;
    position: static;
    left: 0px;
    padding: 20px;
    width: 100%;
    min-height: 133px;
    max-height: 343px;
    margin-top: 0px;
    margin-bottom: 14px;
  }

  .output-default {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }

  .output-img-container {
    display: none;
  }

  .output-result {
    height: 100%;
    max-height: 100%;
  }

  .output-text-container {
    height: 250px;
    max-height: 180px;
    overflow: scroll;
  }

  .tooltip-container {
    align-self: center;
    top: 4px;
  }
}